*.docx linguist-detectable=false
*.pdf linguist-detectable=false
*.xlsx linguist-detectable=false
*.pptx linguist-detectable=false
*.rtf linguist-detectable=false
dataset/clean/* linguist-detectable=false
dataset/stego/* linguist-detectable=false
docs/images/* linguist-detectable=false
