# Ignore dataset files completely
dataset/** linguist-vendored

# Ignore docs/images
docs/images/** linguist-vendored

# Ignore document formats globally
*.docx linguist-vendored
*.pdf linguist-vendored
*.xlsx linguist-vendored
*.pptx linguist-vendored
*.rtf linguist-vendored
